---
import Terminal from '../components/terminal/Terminal.tsx';
---
<section id="ground" class="relative px-[7vw] py-[12vh] bg-ink-1 text-paper">
  <Terminal client:visible={{ rootMargin: '200px' }} />
</section>
